
<app-nav-bar-main></app-nav-bar-main>
<img class="logo" src="Logo(logo + slogan).svg" alt="fail with fucking img">
<p class="intro-text">Welcome to EduVibe, the platform designed to empower your learning journey. 
    Whether you're a student looking to expand your knowledge or a professional seeking to improve your skills, 
    EduVibe offers a wide range of courses to help you achieve your goals. Join a community of learners and start 
    your path to success with engaging video lessons, interactive tests, and personalized progress tracking.</p>

    <button (click)="navigateToSignUp()" class="button" id="sign-up-button" >Start Learning Today</button>


<router-outlet></router-outlet>
